
{% extends 'Railway/AdminPanel.html' %}


{% block schedule %}
    <div class="container">
                <div class="text-center" style="margin-top: 50px; margin-bottom: 50px;">
                    <h2 class="section-heading text-uppercase">Расписание поездов</h2>
                    <h3 class="section-subheading text-muted">Список текущих маршрутов </h3>
                </div>
        <div class="form-group row">
            <label for="search-input" class="col-sm-2 col-form-label">Поиск по месту прибытия:</label>
            <div class="col-sm-10">
                <input type="text" id="search-input" class="form-control" placeholder="Введите место прибытия">
            </div>
        </div>

        <div class="text-center mb-4">
            <button id="search-button" class="btn btn-danger">Поиск</button>
        </div>

    <div class="row text-center">
    <section class="page-section" id="services">
    </section>
    {% for sch in Schedules %}
        <div class="col-md-4" style="margin-top: 20px; margin-bottom: 50px;">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-table fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">№ {{sch.RideId}}</h4>
            <p class="text-muted">Откуда  {{sch.StartAt}}</p>
            <p class="text-muted">Куда  {{sch.FinishAt}}</p>
            <p class="text-muted">Время отправления  {{sch.DepartureTime|time:"H:i"}}</p>
            <p class="text-muted">Время прибытия  {{ sch.ArrivalTime|time:"H:i"}}</p>
        </div>

    {% endfor %}

        <script>
        const searchInput = document.getElementById('search-input');
        const searchButton = document.getElementById('search-button');
        const cards = document.querySelectorAll('.col-md-4');

        searchButton.addEventListener('click', () => {
            const searchTerm = searchInput.value.toLowerCase();

            cards.forEach((card) => {
                const finishAt = card.querySelector('p:nth-of-type(2)').textContent.toLowerCase();

                if (finishAt.includes(searchTerm)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        });
    </script>
{%  endblock %}